<div class="container">
    <form class="mt-2">
        <div class="form-group">
            <label for="inputTitulo">Título</label>
            <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group">
            <label for="inputDescripcion">Descripción</label>
            <textarea class="form-control" id="textarea-descripcion" name="descripcion" rows="8"></textarea>
        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputEmpresa">Empresa</label>
                <input type="text" class="form-control" id="empresa">
            </div>
            <div class="form-group col-md-4">
                <label for="inputSalario">Salario</label>
                <input type="number" class="form-control" id="salario" placeholder="€">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCiudad">Ciudad</label>
                <input type="text" class="form-control" id="ciudad">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Crear oferta</button>
    </form>
</div>