<div class="container">
    <form #nuevaofertaForm="ngForm" (ngSubmit)="onSubmit(nuevaofertaForm)" class="mt-2">
        <div class="form-group">
            <label for="inputTitulo">Título</label>
            <input type="text" class="form-control" name="titulo" #titulo [(ngModel)]="ofertaModel.titulo">
        </div>
        <div class="form-group">
            <label for="inputDescripcion">Descripción</label>
            <textarea type="text" class="form-control" name="descripcion" #descripcion [(ngModel)]="ofertaModel.descripcion" rows="8"></textarea>
        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="inputEmpresa">Empresa</label>
                <input type="text" class="form-control" name="empresa" #empresa [(ngModel)]="ofertaModel.empresa">
            </div>
            <div class="form-group col-md-4">
                <label for="inputSalario">Salario</label>
                <input type="number" class="form-control" name="salario" #salario [(ngModel)]="ofertaModel.salario" placeholder="€">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCiudad">Ciudad</label>
                <input type="text" class="form-control" name="ciudad" #ciudad [(ngModel)]="ofertaModel.ciudad">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" name="email" #email [(ngModel)]="ofertaModel.email">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Crear Oferta</button>
    </form>
</div>