<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                </tr>
            </thead>
            <tbody>
                <!-- mostramos en columnas td una iteración del array de productos. -->
                <tr *ngFor="let oferta of this.ofertas">
                    <th scope="row">{{oferta.id}}</th>
                    <td>{{oferta.titulo}}</td>
                    <td>{{oferta.descripcion}}</td>
                    <td>{{oferta.empresa}}</td>
                    <td>{{oferta.ciudad}}</td>
                    <td>{{oferta.salario}}</td>
                    <!--<td><button type="button" class="btn btn-primary" (click)="this.viewOferta(oferta.id)">Ver</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 
<div class="container">
    <div class="col-md-6">
        Título ->
    </div>
    <div class="col-md-6" *ngFor="let oferta of this.ofertas">
        {{oferta.titulo}}
    </div>
    <div class="col-md-6">
        Descripción ->
    </div>
    <div class="col-md-6" *ngFor="let oferta of this.ofertas">
        {{oferta.descripcion[this.id]}}
    </div>
    <div class="col-md-6">
        Empresa ->
    </div>
    <div class="col-md-6" *ngFor="let oferta of this.ofertas">
        {{oferta.empresa}}
    </div>
    <div class="col-md-6">
        Ciudad ->
    </div>
    <div class="col-md-6" *ngFor="let oferta of this.ofertas">
        {{oferta.ciudad}}
    </div>
    <div class="col-md-6">
        Salario ($) ->
    </div>
    <div class="col-md-6" *ngFor="let oferta of this.ofertas">
        {{oferta.salario}}
    </div>
</div>
-->
